@import './settings/variables.scss';
@import './utilities/mixins.scss';
@import './generic/reset.css';
@import './settings/fonts.scss';
@import './settings/grid.scss';
@import './features/wdyg-style.scss';
@import '~react-redux-toastr/src/styles/index.scss';

* {
  box-sizing: border-box;
}

body {
  background-color: $white;
  font-family: $roboto;
}

header,
main {
  width: 100%;
  display: block;
}

main {
  border-radius: 5px 5px 5px 5px;
  height: 50px;
  margin-top: -5px;
  background: #fff;
}

header {
  height: 80px;
  background-color: $base-color;
}

h3 {
  font-size: rem(16);
  color: $black;
  font-weight: $font-400;
}
