@import '../utilities/mixins.scss';
@import '../settings//variables.scss';

.heero_town-container-list {
  margin-top: 10px;

  .heero_town-list {
    .heero_town-list-item {
      padding: 7px 0px;
      border-bottom: 1px solid $gray-light;

      &:hover {
        color: $white;
        background-color: $base-color;
        padding-left: 5px;
      }
    }
  }
}

// 36668724 - endodentista
// 25929111 - 17/12 AS 16H
// 25929111 - 
// 38252141

// 31297543
// 28067950
// 31512877
// 32557137

//38259676

// # consolação

// 32663232
// 27385759
// 33615110
