@import '../utilities/mixins.scss';
@import '../settings//variables.scss';

.wdyg_container-logo {
  @include flex();

  height: 42px;
  align-items: center;
  text-align: center;

  .logo {
    font-size: rem(24);
    font-family: $roboto;
    font-weight: $font-700;
    color: $white;
    margin: 0 auto;
  }
}
